# Fișiere și directoare generate de Visual Studio / MSBuild
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache

*.exe
*.log
*.vspscc
*.vssscc
*.bak
*.FileListAbsolute.txt
*.CoreCompileInputs.cache
*.AssemblyReference.cache
*.Up2Date
*.DesignTimeResolveAssemblyReferencesInput.cache

# Directoare speciale
.vs/
packages/
TestResults/

# Fișiere temporare
*.tmp
*.temp

# Fișiere de configurare locală
*.csproj.user
*.DotSettings.user

# Fisiere de compilare framework specifice
*.AssemblyAttributes.cs

Cod\Database\.vs\Database\v17